{% extends 'base.html' %}
{% block title %}Lista de Veículos{% endblock %}

{% block content %}
<h3>Lista de Veículos</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Cor</th>
      <th>Matrícula</th>
      <th>Ano</th>
      <th>Empresa</th>
    </tr>
  </thead>
  <tbody>
    {% for v in veiculos %}
    <tr>
      <td>{{ v.id }}</td>
      <td>{{ v.marca }}</td>
      <td>{{ v.modelo }}</td>
      <td>{{ v.cor }}</td>
      <td>{{ v.matricula }}</td>
      <td>{{ v.ano }}</td>
      <td>{{ v.empresa_nome }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
